<div class="modal-content download-brochure">
  <div class="modal-header">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-label="Close">
      <em style="float: right;color: #000;" class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title"> <h3><span><img id="logo" src="assets/img/logo.png" alt=""></span>Zillion Analytics</h3></h4>
  </div>
  <div class="modal-body">
  <div class="row">
    <div class="col-md-7">
   
    <p style="color: #000;">Where should we send you our <br> <span style="color: #000;">Brochure</span> <br>on extracting real results from <br>your
    marketing channels?
    </p>
    
    </div>
    <div class="col-md-5">
      <img src="assets/img/brochure.png" alt="" class="img-responsive" id="brochure-img">
    </div>
  </div>


    <div class="email">
    <div class="form-group">      
      <input style=" background-color: #fff;" type="text" class="form-control" placeholder="Your email address...">
      <button class="btn btn-primary">
        Get the Brochure now!
      </button>
    </div>
    </div>

  </div>
 <!--  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save changes</button>
  </div> -->
</div>

